# Логи сервера (папки сохраняем через .gitkeep, содержимое игнорируем)
server/game/log/*
!server/game/log/.gitkeep
server/login/log/*
!server/login/log/.gitkeep
*.log

# Бэкапы БД
server/backup/*
!server/backup/.gitkeep

# Геодата качается отдельно (не храним в репозитории)
server/game/data/geodata/*.l2j

# Локальные конфиги окружения
server/**/hexid.txt
tools/__pycache__/
tools/_tp_dump.txt
tools/_teleport_list.txt

tools/_ru/
tools/_hk.txt
tools/_ck.txt
tools/_l2s/
